body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: rgb(0, 0, 0);
    background-color: rgb(247, 170, 55);
    text-align: center;
    font-size: 150px;
}

img {
    width: 350px;
    height: 400px;
}
